* {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

a:hover {
  text-decoration: underline;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone {
  margin-left: 30px;
}

.lien-icone:hover {
  opacity: 0.5;
}

.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

section {
  padding: 80px;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
}

.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  margin: auto;
}

.portfolio-section-photos {
  background-color: white;
}

.portfolio-section-photos h2 {
  font-family: Manrope;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #242424;
  margin-bottom: 20px;
  margin-top: 40px;
}


.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  /* Même si vous ne connaissez pas cette propriété, vous en aurez besoin pour permettre aux images de respecter les dimensions de la grid CSS */
  object-fit: cover;
  /* Permet de ne pas déformer les images */
}

.grid-paysages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,300px);
  gap: 15px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,300px);
  gap: 15px;
}

.picture:hover {
  position: relative;
  opacity: 70%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  
}

/* Grille paysages */
#paysage1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#paysage2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#paysage3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#paysage4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#paysage5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#paysage6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
#paysage7 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
#paysage8 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
#paysage9 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}


/* Grille portraits */
#portrait1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#portrait2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#portrait3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#portrait4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#portrait5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#portrait6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
